# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Model artifacts
*.h5

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Environment secrets
.env
.env.*
